<html>

<head>
    {% if title %}
    <title>{{ title }} - Daggys test site</title>
    {% else %}
    <title>Welcome to Daggys test site</title>
    {% endif %}
</head>

<body>
    <div>Daggys test site:
        <a href="{{ url_for('route_blueprint.index') }}">Home</a>
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('route_blueprint.login') }}">Login</a>
        {% else %}
        <a href="{{ url_for('route_blueprint.search_playlists') }}">Search Playlists</a>
        <a href="{{ url_for('route_blueprint.import_playlists') }}">Import Playlists</a>
        <a href="{{ url_for('route_blueprint.logout') }}">Logout</a>
        {% endif %}
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>

</html>