<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    {% if title %}
    <title>{{ title }} - Spotify Playlist Lookup</title>
    {% else %}
    <title>Welcome to Spotify Playlist Lookup!</title>
    {% endif %}

    {% if config['ENV'] == 'production' %}
    <!-- Matomo -->
    <script>
        var _paq = window._paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function () {
            var u = "//matomo.dags.dev/";
            _paq.push(['setTrackerUrl', u + 'matomo.php']);
            _paq.push(['setSiteId', '1']);
            var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
            g.async = true; g.src = u + 'matomo.js'; s.parentNode.insertBefore(g, s);
        })();
    </script>
    <!-- End Matomo Code -->
    {% endif %}
</head>

<body>
    <div id="navbar">
        <div id="left-links">
            <a href="{{ url_for('route_blueprint.index') }}">Home</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('route_blueprint.login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('route_blueprint.search_playlists') }}">Search Playlists</a>
            <a href="{{ url_for('route_blueprint.import_playlists') }}">Import Playlists</a>
            <a href="{{ url_for('route_blueprint.logout') }}">Logout</a>
            {% endif %}
        </div>
        <a id="repo-link" href="https://github.com/NomadicDaggy/spotify-playlist-lookup">
            <img id="gh-logo" src="{{ url_for('static', filename='img/GitHub-Mark-Light-32px.png') }}"
                alt="Github Logo"></a>
    </div>
    <div id="main-content" class="{{ self._TemplateReference__context.name.split('.html')[0] }}">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>
    <div id="footer">
        Spotify Playlist Lookup is independent of Spotify AB, but we do use the Spotify API<br>
        © Dāgs Ādams Grīnbergs 2022
    </div>
</body>

</html>