{% extends "base.html" %}

{% block content %}

<form action="/search_playlists" method="post" novalidate>
    {{ form.hidden_tag() }}
    <div id="search-input">
        {{ form.search_term.label }} {{ form.search_term }} <br>
        {{ form.search_link.label }} {{ form.search_link }} <br>
        {{ form.submit() }}
    </div>
    <div id="search-output">
        {% if results is iterable and (results is not string and results is not mapping) %}
        {% for r in results %}
        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/{{ r }}?utm_source=generator"
            width="100%" height="380" frameBorder="0" allowfullscreen=""
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
        {% endfor %}
        {% else %}
        {{ results }}
        {% endif %}
    </div>
</form>

{% endblock %}