{% extends "base.html" %}

{% block content %}

<h2>Search Playlists</h2>

<!-- <p>
        So you have a song.It perfectly fits what you want to listen to right now.<br />
        You want more like it, but can't quite explain what exactly it is that you want.<br />
    </p> -->

<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}

    <div id="search-fields">
        {{ form.track_name.label }} {{ form.track_name }}
        {{ form.track_link.label }} {{ form.track_link }}
    </div>

    {{ form.submit() }}

    <div id="search-output">
        {% if results is iterable and (results is not string and results is not mapping) %}
        {% for p in results %}
        <a href="https://open.spotify.com/playlist/{{p.spotify_id}}" target="blank">
            <div class="found-playlist-card">
                <img src="{{ p.image_url }}" alt="image for {{ p.name }}" loading="lazy">
                <div>
                    <h2 class="playlist-name">{{ p.name }}</h2>
                    <span class="playlist-owner">{{ p.owner_name }}</span>
                    <div class="playlist-description">{{ p.description }}</div>
                </div>
                <img class="spotify-logo"
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/19/Spotify_logo_without_text.svg/2048px-Spotify_logo_without_text.svg.png"
                    alt="spotify logo">
            </div>
        </a>

        {# <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/{{ r }}?utm_source=generator"
            width="100%" height="380" frameBorder="0" allowfullscreen=""
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe> #}
        {% endfor %}
        {% else %}
        {{ results }}
        {% endif %}
    </div>
</form>

{% endblock %}