@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

:root {
    --main-bg-color: #282A3A;
    --low-contrast-bg-color: #323448;
    --main-text-color: rgb(207, 233, 228);
    --secondary-text-color: #00BC96;
}

html {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}
a {
    color: var(--secondary-text-color);
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin: 0;
}

#navbar {
    color: var(--secondary-text-color);
    padding: 10px 0 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
#left-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    font-size: 16px;
}
#left-links > a {
    /* background-color: var(--low-contrast-bg-color); */
    /* border: solid 1px var(--low-contrast-bg-color); */
    border-radius: 9px;
    padding: 5px 10px;
    margin: 0 10px;
}
#repo-link {
    padding-right: 10px;
    margin-left: auto;
    border: none !important;
}
#logo {
    font-size: 20px;
    text-decoration: none;
    font-weight: 600;
    padding-right: 30px;
}


#main-content {
    align-self: center;
    margin-bottom: auto;
    padding-top: 100px;
}
#main-content.index {
    margin-bottom: unset;
    padding-top: 0;
}
#main-content.import_playlists {
    padding-top: 40px;
}
#main-content.search_playlists {
    padding-top: 40px;
}
#main-content.search_playlists #search-fields {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr auto;
    row-gap: 15px;
}
#main-content.search_playlists input, #main-content.search_playlists textarea,
#main-content.import_playlists input, #main-content.import_playlists textarea {
    border-radius: 4px;
    border: 1px #464863 solid;
    background-color: #464863;
    color: white;
    padding: 0 10px;
    font-size: 16px;
}
#search-fields label {
    padding-right: 20px;
    text-align: right;
}
input#submit { /*  search button  */
    margin: 20px auto;
    display: block;
    border: 1px solid var(--low-contrast-bg-color);
    border-radius: 15px;
    padding: 7px 20px;
    font-size: 22px;
    background-color: var(--main-text-color);
    font-family: 'Inter';
    font-weight: 500;
    color:#282A3A;
    cursor: pointer;
}
input#submit:hover {
    background-color: #00BC96;
}
textarea#search_link {
    height: 70px;
    min-width: 300px;
}

textarea#playlist_ids {
    min-width: 500px;
    min-height: 200px;
}

#inline-logo {
    color: var(--secondary-text-color);
    font-size: 32px;
    padding-right: 7px;
}
#homepage-stats {
    padding-top: 20px;
    text-align: center;
}
#main-content h2 {
    text-align: center;
    font-size: 28px;
}

#footer {
    color: var(--secondary-text-color);
    justify-self: flex-end;
    font-weight: 200;
    font-size: 14px;
    align-self: center;
    padding-bottom: 10px;
    text-align: center;
}
